mat-toolbar {
    background: #004a9f;
    color: white;
    height: 50px;
}

mat-sidenav {
    margin-left: 8px;
    margin-top:10px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.content {
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightgray;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}

.menu-button:hover{
    background-color: rgb(233, 87, 87);
    color: black;
    text-decoration: none;
}

.menu-button:visited{
    text-decoration: none;
}

.menu-button{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    font-size: 1rem;

   
}
mat-icon{
    margin-right: 0px;

}

a{
    color:white;
    
}
a:hover{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    border: none;
}