  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <nav class="navbar navbar-expand-md navbar-light bg-light" *ngIf="nav.visible">
      <a href="#" class="navbar-brand">Octal Optimum</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" >
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
            <a class="nav-link" [routerLink]="['/home']">Home</a>
            <a class="btn btn-success" [routerLink]="['/login']" id="btn1">Login</a>
              <a class="btn btn-success" [routerLink]="['/signUp']" id="btn2">Sign-up</a>
             
          </div>
         
      </div>
  </nav> 
    
    <!-- End of navbar -->