
<section class="1">
    <section class="parallax">
     <div class="decoration"></div>
     <div class="parallax-inner">
        <br>
        <h1 class="mHeading" style="color:rgb(243, 242, 247);">Octal Optimum</h1>
        <button class="btn btn-danger" id= "seeMore"> <a [routerLink]= "['/login']">See More</a> </button>
        <br>
    </div>
        </section>
    
  
  <section class="parallax-1">
    <div class="parallax-inner">
        <br>
        <h2 style="text-align: center; font-size: 3rem;color: black;">To know more visit: <a href="http://www.octaloptimum.com/">http://www.octaloptimum.com/</a> </h2>
        <br>
    </div>
  </section>
  </section>
  
 